.monts1 {
    border: 2px skyblue solid;
    height: 350px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 5px 5px 30px rgba(0, 255, 247, 0.3);
    margin-right: 15px;

}


.container {
    display: flex;
}

.more {
    height: 35px;
    width: 150px;
    background-color: green;
    border-color: green;
    margin-left: 21%;
    margin-top: 40%;
    border-radius: 5px;
}

.buy {
    border: 2px rgb(26, 245, 125) solid;
    height: 300px;
    width: 380px;
    border-radius: 10px;
    box-shadow: 5px 5px 30px rgba(8, 255, 70, 0.3);
    margin-right: 15px;

}

.buy1 {
    height: 28px;
    width: 45px;
    background-color: rgb(94, 255, 0);
    border-color: rgb(94, 255, 0);
    border-radius: 5px;
    margin-left: 75%;


}

.kub {
    display: flex;
}

.pay {
    border: 2px rgb(26, 179, 245) solid;
    height: 200px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 5px 5px 30px rgba(8, 206, 255, 0.3);

}


.pay1 {

        height: 28px;
        width: 45px;
        background-color: rgb(94, 255, 0);
        border-color: rgb(94, 255, 0);
        border-radius: 5px;
        margin-left: 75%;

}