nav ul {
    list-style: none;
    display: flex;
    margin-left:82%;
}

nav li {
    margin-right: 20px;

}

.content {
     place-items: center;
    margin-top: 12%;
}


.logout {
    width: 30px;
    height: 20px;
    cursor: pointer;
}
